.button {
    background-color: var(--firstBlue-color);
    color: var(--firstGray-color);
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; // Zaokrąglone rogi
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    text-decoration: none;
  
    &:hover {
      background-color: var(--secondGray-color);
    }
  
    &:active {
      background-color: var(--firstBlue-color);
      // box-shadow: 0 0 10px var(--secondBlue-color); // Efekt "błysku" po kliknięciu
    }
  
    &:disabled {
      background-color: var(--thirdGray-color);
      cursor: not-allowed;
    }
  
    &:focus {
      outline: 2px solid var(--firstBlue-color);
      outline-offset: 2px;
    }
  }
  
  .button.expand {
    width: 100%;
  }
  
  .button.next-page, .button.previous-page {
    width: auto;
    padding: 10px 15px;
  }