// Base button styles
.button {
    background-color: var(--forthGray-color);
    color: var(--firstGray-color);
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
    outline: none;
    font-family: 'Montserrat', $helvetica;
    font-size: 18px;
    line-height: 1.4;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    width: fit-content;
    min-width: max-content;

    &:hover {
        background-color: var(--thirdGray-color);
        color: var(--firstGray-color);
    }

    &:active {
        background-color: var(--firstBlue-color);
        color: var(--forthGray-color);
        border: 1px solid var(--firstBlue-color);
    }

    &:focus {
        background-color: var(--firstBlue-color);
        color: var(--forthGray-color);
        border: none;
        outline: none;
    }

    &:disabled {
        background-color: var(--thirdGray-color);
        cursor: not-allowed;
    }
}

// Button variations
.button.expand {
    width: 100%;
}

.button.next-page,
.button.previous-page {
    width: auto;
    padding: 10px 15px;
}

// Collapsible button styles
.collapsible {
    @extend .button;
    width: 100%;
    text-align: left;
    background-color: var(--forthGray-color);
    color: var(--secondGray-color);
    font-size: 15px;
    
    &:hover {
        background-color: var(--thirdGray-color);
    }
    
    &.active {
        background-color: var(--firstBlue-color);
        color: var(--forthGray-color);
        border: 1px solid var(--firstBlue-color);
    }
}

// Collapsible content
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--background-color);
}