form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--forthGray-color);
    border-radius: 4px;
    background-color: var(--firstGray-color);
    color: var(--firstBlue-color);
  }
  
  input[type="radio"] {
    margin-right: 0.5rem;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    @extend .button;
  }