.language-switcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-family: 'Montserrat', $helveticaNeue;
  font-weight: 400;

  a {
    color: var(--firstGray-color);
    text-decoration: none;
    font-size: 1.0rem;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    user-select: none;

    &.active {
      color: var(--firstBlue-color);
      font-weight: 600;
      pointer-events: none;
    }

    &:not(.active) {
      &:hover {
        color: var(--firstBlue-color);
        // background-color: rgba(var(--firstBlue-color-rgb), 0.1);
      }
    }
  }

  // Separator style
  span {
    color: var(--firstGray-color);
    user-select: none;
  }

  // Mobile styles
  @media screen and (max-width: 768px) {
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    
    a {
      font-size: 1.0rem;
      padding: 0.5rem 0.7rem;
    }
  }
}