
//
// VARIABLES
//

// Colors
$biceBlue: #1E6991;
$blue: #4183C4;
$cyan: #32D7E6;

// Grays
$black: #000;
$raisinBlack: #1e1e28;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$ghostWhite: #f5f5fa;

// Font stacks
$helvetica: 'Montserrat', Helvetica, Arial, sans-serif;
$helveticaNeue: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
