
//
// VARIABLES
//

// Colors
$biceBlue: #1E6991;
$blue: #4183C4;
$ryanCyan: #32D7E6;

// Grays
$raisinBlack: #1e1e28;  // Bardzo ciemny szary, HSL: (240, 0%, 11%)
$darkGray: #404050;     // Ciemniejszy szary, HSL: (240, 5%, 20%)
$gray: #666666;         // Klasyczny szary, HSL: (240, 0%, 40%)
$lightGray: #e3e3ea;    // Jasny szary, HSL: (240, 0%, 70%)
$ghostWhite: #f5f5fa;   // Bardzo jasny szary, HSL: (240, 5%, 97%)

// Font stacks
$helvetica: 'Montserrat', Helvetica, Arial, sans-serif;
$helveticaNeue: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Timing variables
$transition-base: 0.4s;
$transition-fast: 0.2s;
$animation-slow: 4s;

// Spacing variables
$nav-height: 60px;
$nav-spacing: 20px; // Spacing between navbar and content / footer
$nav-padding-x: 15px;
$nav-gap: 2rem;
$progression-bar-indicator-height: 1.5rem; // Height of percentage text
$progression-bar-gap: #{"calc(20px + 1.5rem)"}; // Gap including indicator (nav-spacing + indicator-height)
$section-gap: 4rem;

// Border radius
$radius-small: 6px;
$radius-medium: 14px;
$radius-large: 18px;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
